/* Global Things */
 
/*Sets fonts, general font size, and removes pre made padding and margin */
body{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 0;
    margin:0;
}

/*removes text decorations on links in lists, makes them black, and adds some padding*/
li a{
    text-decoration: none;
    color: black;
    
    padding: 10px;

}

/*makes a container that centers content and has a relative position*/
.holder{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*creates the title for the differnt images with a 
minimum height, set font size, adjustments to things inside, and with a differnt margin and padding
to contents*/
.heading{
    font-size: 14px;
    height: auto;
    min-height: 40px;
    position: absolute; 
    bottom: 0%; 
    transform: translateY(40%); 
    width: 50%; 
    text-align: center;
    background-color: #edb654;
    margin-top: 0;
    padding:0 5px 0 5px ;
    
}

/*turns all links black*/
a{
    color: black; 
}

/*when hovering over links, it makes them bold*/
a:hover{
    font-weight: bold;
}

.button:hover{
    background-color: #edb654;
}

h1{
    color: #7c365E;
}

/*makes adjustments to the header of the webpage like creating space
chaning colours and making a border*/
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
    background-color:  white;
    min-height: 100px;
    color: black;
   
}

/*adjustments to h1s in the header*/
header h1{
    float: left;
    margin: auto auto auto 5%;

}

/*adjustments to ul's in genral*/
ul{
    font-size: 25px;
    margin: 0;
    padding: 20px;
    

}

/*makes contents in the navbar display inline*/
#h{
    display: inline;
}

/*adds basic padding to lists*/
li{
    padding: 0 20px 0 20px;
}

/*adds a border to the left and right on an element*/
.border{
    border-left: 3px solid black;
    border-right: 3px solid black;
}

/*creates the page when you click the burger stack*/
.navbar{
    background: rgb(128,128,128, .9);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-width: 300px;
    width: auto;
    top: -250px;
    right: 0;
    position: absolute;
    transform: translateY(353px);
 
}

/*margin and padding to links inside the burger stack with no list style*/
.nav-links {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

/*adding margins to lis in the hamburger stack list*/
.nav-links li {
    margin: 15px 0;
}

/*styling the links in the hamburger stack*/
.nav-links a {
    text-decoration: none;
    color: #fff;

    font-size: 1.5rem;
}

/*hides the checkmark for the burger stack*/
.nav-toggle {
    display: none;
}

/*creates the icon for the stack*/
.nav-icon {
    background: url(./imgs/hamburgericon.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 30px;
    top: 15px;
    float: right;
    cursor: pointer;
    z-index: 2;
}

/*increases the size of the icon when you hover over it*/
.nav-icon:hover{
    width: 42px;
    height: 32px;
}

/*makes the burger stack work by unchecking and checking the checkbox*/
.nav-toggle:checked + .nav-icon::before {
    transform: translateY(10px) rotate(45deg);
}

.nav-toggle:checked + .nav-icon::after {
    transform: translateY(-10px) rotate(-45deg);
}

.nav-toggle:checked ~ .navbar {
    transform: translateX(0);
}

/*aligns items in the main to the center and makes the main a minimum height*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 639px;
}

/*makes a container for grids*/
.card-container{
    display: grid;
    grid-gap: 10px;  
    text-align: center;
    
}

/*creates a background for elements and is also used for organization in grids*/
.card{
    background-color: white;
    border: 1px solid gray;
    width: auto;
    font-size: 20px;
    padding: 20px 20px 0px 20px;
    overflow:hidden;
    border-radius: 15px;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

/*creates the footer of the webpage*/
footer{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    min-height: 115px;
    margin-top: 2%;
    bottom: 0;
    border: 3px solid black ;
    background-color: #7c365E;
    color: white;
   
   
}

/*creates a button used for forms*/
.button{
	background-color: #edb654;
	color: #fff;
	padding: 10px 15px;
	border: none;
    width: 300px;
}

/*makes the button change cover when hovered over*/
.button:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), #edb654;
}

/* Index stuff */

/*creates a container for index*/
.options{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: auto;
    margin-top: 5%;
    margin-bottom: 3%;
    padding-top: 0%;
}

/*creates the background for the main page*/
#index-body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imgs/homepage.jpg) no-repeat;
    background-size: cover;
}

/*creates the title for the main page*/
#home-title{
    color: white;
    font-size: 80px;
    text-shadow: 2px 2px 4px black;
}

/*links in the options container dont have text decoration*/
.options a{
   text-decoration: none;
}

/*when you hover over the picture with text is lowers the opacity*/
.holder:hover{
    opacity: .85;
}

/*creates a preset for the pictures used*/
.pic{
    border-radius: 5% 5% 0 0;
    height: auto;
    min-width: 200px;
    max-height: 250px;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
}

/*makes every image 250pxx250px*/
img{
    height: 250px;
    width: 250px;
}

/*sets the size and padding for the icons of social medias*/
#socials{
    height: 40px;
    padding: 0 20px 0 20px;
    width: 40px;
}

/*organizes the elements into sections with different areas*/
.section1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    float: left;
}

.section2{
    display: flex;
    align-items: center;
    float: right;
}

/*creates the newsletter form in the footer*/
.newsletter{
    display: block;
    padding: 20px;

    
}

.newsletter  .news-group{
    display: flex;
    padding-bottom: 15px;

}

#form-card{
    display: block;
}

#form-card h1{
    margin-left: 20px;
}


.newsletter input[type="text"], .newsletter textarea{
	padding: 8px;
	width: 280px;
}

/*removing the top margin in the home page options*/
#main-options{
    margin-top: 0%;
}

/*sets the minimum height for the main home page and aligns them into columns and aligns the text onto the center*/
#main-home{
    min-height: 738px;
    flex-direction: column; 
    text-align: center;   
}

/*sets attribute for the title*/
#title{
    width: auto;
    font-size: 30px;
    text-align: center;
    
}

/* breakfest stuff */

/*styles the main for the breakfest page*/
#main-breakfest{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 678px;
}

/*sets the columns and rows for the options in breakfast*/
#breakfest-options{
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    flex-direction: row;
}

/*sets how the title will appear on the page using grid*/
#breakfest-title{
   grid-row-start: 1;
   grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 20px;
   
}

/*changes the colour and shadow on the h1 in breakfet title*/
#breakfest-title h1{
    color: #ff70c1;
    text-shadow: 2px 2px 4px black;
}

/*sets how the items will appear on the page*/
.items{
    flex-direction: row;
    grid-row-start: 2;
    grid-row-end: 3;
}

/*stlyes the background image in teh breakfest page*/
#breakfest-body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imgs/breakfast-family.jpg) no-repeat;
    background-size:cover;

}

/*sets how the featured meal will appear*/
#featured-meal{
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
}


#featured-meal .holder{
   grid-row-start: 2;
   grid-row-end: 3;
   grid-column-start: 2;
   grid-column-end: 3;
   
} 

#featured-title{
    max-width: 500px;
    grid-column-start: 1;
    grid-column-end: 4;
    color: white;
    font-size: 20px;
} 

#featured-title h1{
    color: #ff70c1;
    text-shadow: 2px 2px 4px black;
} 

/*creates a large container to organize all of the smaller sections*/
.container{
    display: grid;
    margin: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 20px;

}

#section1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

#section2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

#section3{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

#section4{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

/* lunch stuff */

/*creates a container for the lunch page*/
#lunch-container{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 1%;
    margin-right: 1%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto ;
}

/*makes the holders in lunch have a larger space in the bottom*/
#lunch-holder{
    margin-bottom: 15px;
}

/*styles how the main title of each lunch section will look and where it will be*/
#lunch-title{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    max-width: 350px;
    color: white;
    font-size: 20px;
}

#lunch-title h1{
    color: #ff70c1;
    text-shadow: 2px 2px 4px black;
}

/*sets how the page will appear*/
#lunch-list{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
   max-height: 360px;
}

/*creates the scrolling effect for the lunch items*/
.selections{
    overflow-y: scroll;
    height: 360px;
}

.selections::-webkit-scrollbar {
    display: none;
}


#main-lunch{
    flex-direction: row;
    min-height: 678px;
}


/*styles the background image of the body of the lunch page*/
#lunch-body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imgs/lunch\ eating\ image.jpg) no-repeat;
    background-size:cover;
}

/*Dinner stuff*/

/*styles the background image of the body of the dinner page*/
#dinner-body{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imgs/dinnerbgimg.jfif) no-repeat;
    background-size:cover;
}


/*login suff*/

/*creats the main login container*/
.login{
    display: block;
    padding: 20px;

    
}

/*makes paddings for the login pages*/
.login  .login-group{
    display: flex;
    padding-bottom: 15px;
    

}

/*makes the buttons and info sections look better*/
.login input[type="text"], .login textarea, .login input[type="password"]{
	padding: 8px;
	width: 280px;
}

/*makes links in the login page blue*/
#login-link{
    color: blue;
}

/*sets a background for the login page*/
#login-body{
    background: url(./imgs/loginbcimage.jpg) no-repeat;
    background-size: cover;
}

/*media queries are used to add responsiveness for medium sized pages,
the breakfest page, super small sizes, and the contents in the navbar

/*medium size*/
@media (max-width:1585px){
   
    #lunch-container{
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: 1%;
        margin-right: 1%;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto ;
    
    }

    #main-lunch{
        flex-direction: row;
    }
    
    #lunch-title{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        max-width: 350px;
        min-height: 290px;
    }
    
    #lunch-list{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 3;
       max-height: 360px;

    }

    

    

}
/* for breakfest */
@media (max-width:1600px){
    .container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(5,auto);
    }
    
    #section1{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1;
    }
    
    #section2{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1;
    }
    
    #section3{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 1;
    }
    
    #section4{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    #breakfest-options{
        margin-left: auto;
        margin-right: auto;
    }

    
    
}

/*super small*/
@media (max-width:1030px){
    #main-lunch{
        flex-direction: column;
    }

    #lunch-container{
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: 1%;
        margin-right: 1%;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto ;
    
    }

    #main-lunch{
        flex-direction: column;
    }
    
    #lunch-title{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        max-width: 350px;
        min-height: 290px;
    }
    
    #lunch-list{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 3;
       max-height: 360px;

    }

    footer{
        flex-direction: column;
    }

    .section1{
       flex-direction: column;
    }

   
    
    
}



/*for navbar*/
@media (max-width:850px){
    header{
        flex-direction: column;
    }

    header h1{
        float: none;
        margin: auto;
    
    }

    .navbar{
        top: -245px;
        width:100%;
        position: absolute;
        transform: translateY(353px);
     
    }

    footer{
        margin-top: 30px;
    }

    #main-options{
        grid-template-columns: auto;
        grid-template-rows: repeat(3,auto);
    }

}

