body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 0;
    margin:0;
    /*background-color:#fffdd0;*/
    
    
}

a{
    text-decoration: none;
    color: ivory;

}

a:hover{
    font-weight: bold;
}


header{
    display: flex;
    align-items: center;
    border: 2px solid black;
    background-color:  #4161E1;
    overflow: hidden;
    min-height: 100px;
    color: ivory;
}

header h1{
    float: left;
    margin: auto;
    text-decoration: underline;
}

ul{
    font-size: 25px;
    margin: 0;
    padding: 20px;
}

li{
    display: inline;
    padding: 0 20px 0 20px;
}

.navbar{
    float: right;
    margin: auto;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

#current-page{
    font-weight: bold;
}

.card-container{
    display: grid;
    margin-right: 15%;
    margin-left: 15%;
    margin-top:3%;
    margin-bottom: 3%;  
    grid-gap: 10px;  
    text-align: center;

}

#home{
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto auto; 
    
}

#Beginning-main{
    min-height: 639px;
    background: url(./imgs/minecraft-tree.gif);
}

#Beginning-card-container{
    grid-template-columns: repeat(3, auto); 
    grid-template-rows: repeat(3, auto);
}

#Beginning-title{
    grid-column-start: 1;
    grid-column-end: 4;
    
}

#Beginning-link{
    color: black;
    text-decoration: underline;
}

#main-home{
    background: url(./imgs/minecraft-minecraft-menu.gif);  
}

.card{
    background-color: white;
    border: 1px solid gray;
    height: auto;
    width: auto;
    font-size: 20px;
    padding: 20px;
    overflow:visible;
    box-shadow: 5px 5px;
}


#title{
    width: auto;
    font-size: 30px;
    padding-top: 30%;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 4;
    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 115px;
    padding-top: 1.1%;
    bottom: 0;
    background-color: #EEA47F;
    border: 3px solid black ;
    
   
   
}

#Beginning-footer{
    padding-top: 0%;
    background: url(./imgs/minecraft-tree.gif);
    border: none;
}


.newsletter{
    padding: 20px;
}

.newsletter  .news-group{
    padding-bottom: 15px;
}

.newsletter label{
    display: block;
}

footer h1{
    padding-left: 12px;
}

.newsletter input[type="text"], .newsletter textarea{
	padding: 8px;
	width: 280px;
}

.button{
	background-color: #333;
	color: #fff;
	padding: 10px 15px;
	border: none;
    width: 300px;
}

@media (max-width:1068px){
    header{
        float: none;
        text-align: center;
        width:100%;
        flex-direction: column;
    }

    #home{
        grid-template-columns: auto; 
        grid-template-rows: auto auto auto auto;    
    }

    #title{
        grid-row-start: 1;
        grid-row-end: 1;
        padding-top: 0%;
    }

    #Beginning-card-container{
        flex-direction: column;
        grid-template-columns: auto; 
        grid-template-rows: repeat(8,auto);
    }

    #Beginning-title{
        grid-column-start: 1;
        grid-column-end: 1;
        
    }
    


}